td{
  height: 50px;
  width:200px;
  text-align: center; 
}

.table2 td:hover{
  background-color: #ffa !important;
}
#table1{
  margin-top: 2%;
  margin-left: 27%;
  background-color: white;
}
#buttons{
  padding-left:32%;
  margin-top: 3%;
}
p{
  font-size: 300%;
  text-align: center;
}
#bg{
  background-color:   #d7dbdd  ; 
}
.level{
  margin-left: 3%;
}
#difficulty{
  margin-left: 37%;
}