td{
	
	height: 50px;
	width:200px;
	text-align: center;
}
.input{
height: 100%;

}
.table2 td:hover{
	background-color: #ffa;
}
#table1{
	margin-top: 2%;
	margin-left: 27%;
}
#buttons{

	padding-left:32%;
	margin-top: 3%;
}
p{
	font-size: 400%;
	text-align: center;
}